<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GUIDE TO PERU</title>
	<link rel="icon" href="./component/landing-page/images/logo.png">
	<link rel="stylesheet" href="landing-page.component.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

	<body>
		<a href="https://api.whatsapp.com/send?phone=51939870566&text=" class="iconWsp" target="_black"><img
				src="images/wsp-icon.png" width="30" alt=""></a>
		<section class="tank-bootstrap-header">
			<nav class="navbar navbar-expand-lg navbar-light py-lg-3 py-2">
				<div class="container">
					<img src="images/image (1).png">
					<a class="navbar-brand" href="index.html"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
						<span class="navbar-toggler-icon fa fa-bars"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" [routerLink]="['clientes']">Acceder</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="index.html">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#transportes-go">Transportes</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#features">Tours</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#portfolio">Destinos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#testimonials">Hoteles</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#articulos">Articulos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="compras.html">Reservas</a>
							</li>
							<li class="nav-item">
								<input type="text" placeholder="Buscar">
								<div class="btn">
									<i class="fa fa-search"></i>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</section>

		<section class="tank-main-banner">
			<div class="slider-info banner-view text-center">
				<div class="banner-info container">
					<h3 class="banner-text mt-5" style="color:rgb(100, 175, 224);">
						<font face="Arial Black">It’s A Big World Out There, Go Explore.</font>
					</h3>
					<br><br>
					<p>
						<font size="5">We make it easy for you to search and reserve your tourist places in Peru.</font>
					</p>
					<div>
						<a href="services.html" class="btn-theme2 btn mt-lg-5">Book your now</a>
					</div>
					<br><br>
					<h3 class="head" style="color:rgb(254, 254, 254);">
						<font face="Times new roman">Usuarios Activos</font>
					</h3>
					<div>
						<script id="_wauwaa">var _wau = _wau || []; _wau.push(["classic", "zltotgacrhd9", "waa"]);
							(function () {
								var s = document.createElement("script"); s.async = true;
								s.src = "http://widgets.amung.us/classic.js";
								document.getElementsByTagName("head")[0].appendChild(s);
							})();</script>
					</div>
				</div>
			</div>
		</section>


		<section class="tank-features-4" id="transportes-go">
			<div class="features py-5" id="services">
				<div class="container py-md-3">
					<div class="heading text-center mx-auto">
						<h3 class="head">Tus Transportes Favoritos</h3>
						<p class="my-3 head">GUIDE TO PERU tiene como propósito brindarte la mejor experiencia al momento de
							realizar búsquedas de los transportes hacia los lugares turísticos en el Perú.</p>
					</div>
					<div class="fea-gd-vv row mt-5 pt-3">
						<div class="float-lt feature-gd col-lg-4 col-md-6">
							<div class="icon"><span class="fa fa-subway" aria-hidden="true"></span></div>
							<div class="icon-info">
								<h5><a href="#">Tren</a></h5>
								<p>Contamos con viajes en tren</p>
							</div>
						</div>
						<div class="float-mid feature-gd col-lg-4 col-md-6 mt-md-0 mt-5">
							<div class="icon"><span class="fa fa-plane" aria-hidden="true"></span></div>
							<div class="icon-info">
								<h5><a href="#">Avion</a></h5>
								<p>Viajes en avión con empresa seguras</p>
							</div>
						</div>
						<div class="float-rt feature-gd col-lg-4 col-md-6 mt-md-0 mt-5">
							<div class="icon"><span class="fa fa-bus" aria-hidden="true"></span></div>
							<div class="icon-info">
								<h5><a href="#">Bus</a></h5>
								<p>Viajes en bus de forma segura</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<section class="tank-feature-3" id="features">
			<div class="grid top-bottom">
				<div class="container">
					<div class="heading text-center mx-auto">
						<h3 class="head text-white">Elige los mejores Tours</h3>
						<p class="my-3 head text-white">No te Pierdas la Oportunidad y Reserva Ahora.</p>
					</div>
					<div class="middle-section grid-column text-center mt-5 pt-3">
						<div class="three-grids-columns">
							<span class="fa fa-globe"></span>
							<h4>Full Day - La libertad</h4>
							<p>Huacos de la Fertilidad.
								Campiña de Moche.
								Huacas del Sol y de la Luna.
								Show de Marinera y Caballos de Paso.
								Ciudadela de Chan Chan.
								Palacio Nik Ann.
								Playa de Huanchaco.</p>
						</div>
						<div class="three-grids-columns">
							<span class="fa fa-globe"></span>
							<h4>Ayacucho Naturaleza</h4>
							<p>Visita casonas coloniales museo.
								Aguas turquesas de Millpu.
								Complejo arqueológico Wari.
								Pueblo de Quinua.
								Guía oficial de turismo.
								Ticket de ingreso.</p>
						</div>
						<div class="three-grids-columns">
							<span class="fa fa-globe"></span>
							<h4>Valle sagrado VIP</h4>
							<p>Sitio Arqueológico de Chinchero, Maras, Moray, Ollantaytambo y Pisac.</p>
						</div>
						<div class="three-grids-columns">
							<span class="fa fa-globe"></span>
							<h4>Agroturismo en Ayacucho</h4>
							<p>Complejo Arqueológico Wari.
								Pueblo de Quinua.
								Granja Monte Fino.
								Ticket de ingreso.
								Atención personalizada.
								Guía oficial de turismo.</p>
						</div>
						<div class="three-grids-columns">
							<span class="fa fa-globe"></span>
							<h4>Skybike en las montañas</h4>
							<p>Realizaremos el ciurcuito de Skybike.</p>
						</div>
						<div class="three-grids-columns">
							<span class="fa fa-globe"></span>
							<h4>City Tour Ayacucho</h4>
							<p>Iniciaremos por la Plaza de Armas y visitaremos la Catedral, museo, artesanías, mirador, entre otros.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>


		<div class="products-4" id="portfolio">
			<div id="products4-block" class="text-center">
				<div class="container">

					<div class="heading text-center mx-auto mb-5">
						<h3 class="head">Mira tus destinos favoritos </h3>
						<p class="my-3 head">Descubre los destinos mas importantes de nuestro Perú!
						</p>
					</div>
					<input id="tab1" type="radio" name="tabs" checked>
					<label class="tabtle" for="tab1">Lima</label>
					<input id="tab2" type="radio" name="tabs">
					<label class="tabtle" for="tab2">Cuzco</label>
					<input id="tab3" type="radio" name="tabs">
					<label class="tabtle" for="tab3">Puno</label>
					<input id="tab4" type="radio" name="tabs">
					<label class="tabtle" for="tab4">Ica</label>

					<section id="content1" class="tab-content text-left">
						<div class="d-grid grid-col-3">
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="./images/centro1.jpg" height="250" width="500" class="img-responsive">

									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="./images/centro2.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/chosica.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/circuito.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/matucana.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/miraflores.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
						</div>
					</section>
					<section id="content2" class="tab-content text-left">
						<div class="d-grid grid-col-3">
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/7colores.jpg" height="250" class="img-responsive">
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/12angulos.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/cuzcoplaza.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/huamantay.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/machupichu.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/sacsayhuaman.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
						</div>
					</section>
					<section id="content3" class="tab-content text-left">
						<div class="d-grid grid-col-3">
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/uros.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/plazapuno.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/gotica.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
						</div>
					</section>
					<section id="content4" class="tab-content text-left">
						<div class="d-grid grid-col-3">
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/china.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="#portfolio">
									<figure>
										<img src="images/plazaica.jpg" height="250" width="500" class="img-responsive">
									</figure>
								</a>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>



		<section class="services-12" id="experience">
			<div class="form-12-content">
				<div class="container">
					<div class="grid grid-column-2">
						<div class="column1">
							<h3 class="mb-5">Verano</h3>
							<div class="experience-top">
								<h5>Enero</h5>
								<h4>Recomendacion</h4>
								<p class="my-3 text-white">Visita Azángaro en Puno
								</p>
							</div>
							<div class="experience-top">
								<h5>Febrero</h5>
								<h4>Recomendacion</h4>
								<p class="my-3 text-white">Arequipa - Disfruta del carnaval con danzas típicas y coloridas comparsas
								</p>
							</div>
							<div class="experience-top">
								<h5>Marzo</h5>
								<h4>Recomendacion</h4>
								<p class="my-3 text-white">Ayacucho: sus festividades con danzas, cantos y su infaltable comida típica
								</p>
							</div>
						</div>
						<div class="column2">
							<h3 class="mb-5">Invierno</h3>
							<div class="experience-top">
								<h5>Octubre</h5>
								<h4>Recomendacion</h4>
								<p class="my-3 text-white">FESTIVIDAD DE LA VIRGEN Y MARTIR SANTA FORTUNATA, PATRONAL ESPIRITUAL DE
									MOQUEGUA
									Mariscal Nieto - Moquegua
								</p>
							</div>
							<div class="experience-top">
								<h5>Noviembre</h5>
								<h4>Recomendacion</h4>
								<p class="my-3 text-white">345 ANIVERSARIO DE LA CIUDAD DE PUNO
									Puno - Puno
								</p>
							</div>
							<div class="experience-top">
								<h5>Diciembre</h5>
								<h4>Recomendacion</h4>
								<p class="my-3 text-white">FERIA PATRONAL 8 DE DICIEMBRE EN HONOR A LA VIRGEN INMACULADA CONCEPCION
									Tumbes
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="tank-testimonials" id="testimonials">
			<div class="customers-6-content py-5">
				<div class="container py-lg-3">
					<div class="heading text-center mx-auto">
						<h3 class="head">Hoteles</h3>
						<p class="my-3 head">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt,
							blanditiis doloremque?</p>
					</div>
					<div id="customerhnycarousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#customerhnycarousel" data-slide-to="0" class="active"></li>
							<li data-target="#customerhnycarousel" data-slide-to="1"></li>
						</ol>
						<div class="carousel-inner pb-5">
							<div class="carousel-item active">
								<div class="customer row py-5 mt-3">
									<div class="col-lg-4 col-md-6">
										<div class="card">
											<div class="card-body">
												<img class="card-img-top img-responsive" src="images/c1.jpg">
												<h3 class="card-title mt-2">Hotel</h3>
												<p class="sub-title mb-3">Lima</p>
												<p class="card-text">El Sheraton Lima Historic Center ofrece alojamientos con piscina y centro
													de fitness. Las habitaciones son amplias e incluyen vistas a la ciudad, balcón privado</p>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 off-testi-2">
										<div class="card">
											<div class="card-body">
												<img class="card-img-top img-responsive" src="images/c2.jpg">
												<h3 class="card-title mt-2">Hotel</h3>
												<p class="sub-title mb-3">Cuzco</p>
												<p class="card-text">El Sheraton Lima Historic Center ofrece alojamientos con piscina y centro
													de fitness. Las habitaciones son amplias e incluyen vistas a la ciudad, balcón privado</p>
											</div>
										</div>
									</div>

									<div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 off-testi">
										<div class="card">
											<div class="card-body">
												<img class="card-img-top img-responsive" src="images/c3.jpg">
												<h3 class="card-title mt-2">Hotel</h3>
												<p class="sub-title mb-3">Piura</p>
												<p class="card-text">LEl Sheraton Lima Historic Center ofrece alojamientos con piscina y centro
													de fitness. Las habitaciones son amplias e incluyen vistas a la ciudad, balcón privado</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="carousel-item ">
								<div class="customer row py-5 mt-3">
									<div class="col-lg-4 col-md-6">
										<div class="card">
											<div class="card-body">
												<img class="card-img-top img-responsive" src="images/c2.jpg">
												<h3 class="card-title mt-2">Hotel</h3>
												<p class="sub-title mb-3">Trujillo</p>
												<p class="card-text">El Sheraton Lima Historic Center ofrece alojamientos con piscina y centro
													de fitness. Las habitaciones son amplias e incluyen vistas a la ciudad, balcón privado</p>
											</div>
										</div>
									</div>

									<div class="col-lg-4 col-md-6 off-testi-2">
										<div class="card">
											<div class="card-body">
												<img class="card-img-top img-responsive" src="images/c3.jpg">
												<h3 class="card-title mt-2">Hotel</h3>
												<p class="sub-title mb-3">Puno</p>
												<p class="card-text">El Sheraton Lima Historic Center ofrece alojamientos con piscina y centro
													de fitness. Las habitaciones son amplias e incluyen vistas a la ciudad, balcón privado</p>
											</div>
										</div>
									</div>

									<div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 off-testi">
										<div class="card">
											<div class="card-body">
												<img class="card-img-top img-responsive" src="images/c1.jpg">
												<h3 class="card-title mt-2">Hotel</h3>
												<p class="sub-title mb-3">Ica</p>
												<p class="card-text">El Sheraton Lima Historic Center ofrece alojamientos con piscina y centro
													de fitness. Las habitaciones son amplias e incluyen vistas a la ciudad, balcón privado</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="products-4" id="galeria">
			<div id="products4-block" class="text-center">
				<div class="form-13-content">

					<div class="heading text-center mx-auto ">
						<h3 class="head">Conoce los restaurantes que tenemos para ti</h3>
						<p class="my-3 head">Encuentra los mejores restaurantes de comida tipica del Perú
						</p>
					</div>
					<input id="tab1" type="radio" name="restaurantes" checked>
					<label class="content" for="tab1"> </label>


					<section id="content1" class="tab-content card-text">
						<div class="d-grid grid-col-4">
							<div class="product">
								<a href="images/Chicha.JPG">

									<figure>
										<div>
											<img src="images/Chicha.JPG" height="180" width="1055" HSPACE="10" VSPACE="10"
												class="img-responsive">
										</div>
									</figure>

								</a>
							</div>
							<div class="product">
								<a href="images/capri.JPG">
									<figure>
										<div>
											<img src="images/capri.JPG" height="180" width="1055" HSPACE="10" VSPACE="10"
												class="img-responsive">
										</div>
									</figure>
								</a>
							</div>
							<div class="product">
								<a href="images/apuin.jpg">
									<div>
										<figure>
											<img src="images/apuin.jpg" height="180" width="1055" HSPACE="10" VSPACE="10"
												class="img-responsive">
										</figure>
									</div>
								</a>
							</div>
							<div class="product">
								<a href="images/resto&lodge.JPG">
									<div>
										<figure>
											<img src="images/resto&lodge.JPG" height="180" width="1055" HSPACE="10" VSPACE="10"
												class="img-responsive">
										</figure>
									</div>
								</a>
							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
		<section id="articulos">
			<div>
				<h2 style="color:beige">
					<font face="times new roman" size="7">Articulos </font>
				</h2>
				<a href="#producto1" class="btn-theme2 btn mt-lg-5">Traje de buceo</a>
				<a href="#producto2" class="btn-theme2 btn mt-lg-5">Abrigo polar</a>
				<a href="#producto3" class="btn-theme2 btn mt-lg-5">Lentes de sol</a>
				<a href="#producto4" class="btn-theme2 btn mt-lg-5">Parrilla portátil</a>
			</div>
			<div class="tank-content-photo-5 py-5" id="about">
				<div class="content-main pt-lg-5 pt-md-3 pd-0">
					<div class="container">
						<section id="producto1">
							<div class="row">
								<div class="col-lg-5 content-photo">
									<a href="#"><img src="images/trajebuzo.jpg" class="img-fluid"></a>
								</div>
								<div class="col-lg-7 content-left mt-lg-0 mt-5 pl-lg-5">
									<h3>Traje de buceo</h3>
									<p>Marca: Zcco <br>
										Disponibilidad:En stock
									</p>
									<a href="compras.html" class="btn-theme2 btn mt-lg-5">+Info</a>
								</div>
							</div>
						</section>
						<br>
						<section id="producto2">
							<div class="row">
								<div class="col-lg-5 content-photo">
									<a href="#"><img src="images/abrigopolar.jpg" class="img-fluid"></a>
								</div>
								<div class="col-lg-7 content-left mt-lg-0 mt-5 pl-lg-5">
									<h3>Abrigo polar</h3>
									<p>Marca: Outdoormaster<br>
										Disponibilidad:En stock
									</p>
									<a href="compras.html" class="btn-theme2 btn mt-lg-5">+Info</a>
								</div>
							</div>
						</section>
						<br>
						<section id="producto3">
							<div class="row">
								<div class="col-lg-5 content-photo">
									<a href="#"><img src="images/lentes.webp" class="img-fluid"></a>
								</div>
								<div class="col-lg-7 content-left mt-lg-0 mt-5 pl-lg-5">
									<h3>Lentes de sol</h3>
									<p>Marca: Outdoormaster<br>
										Disponibilidad:En stock
									</p>
									<a href="compras.html" class="btn-theme2 btn mt-lg-5">+Info</a>
								</div>
							</div>
						</section>
						<br>
						<section id="producto4">
							<div class="row">
								<div class="col-lg-5 content-photo">
									<a href="#"><img src="images/parrillaportatil.webp" class="img-fluid"></a>
								</div>
								<div class="col-lg-7 content-left mt-lg-0 mt-5 pl-lg-5">
									<h3>Parrilla portátil</h3>
									<p>Marca: Outdoormaster<br>
										Disponibilidad:En stock
									</p>
									<a href="compras.html" class="btn-theme2 btn mt-lg-5">+Info</a>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>

		<section id="Call-to-action">
			<div class="containerHeader2">
				<div class="containMain3 container2">
					<div class="item space">
						<picture>
							<img src="images/peru.webp" alt="imagen de mapa del peru">
						</picture>
					</div>
					<div class="item">
						<h1 class="title1">¡Visita nuestro Pais!</h1>
						<p>Forma parte de esta bella comunidad y animate a visitar nuestro Pais</p>
						<div class="containMain2-1">
							<div class="item searcher">
								<input type="text" placeholder="Ejemplo@gmail.com" required>
							</div>
							<div class="containerButton">
								<a
									href="mailto:u202119605@upc.edu.pe?subject=Información sobre las reservas de viaje&body=Nombre, apellido y DNI">
									<button type="submit" class="btn">Enviar</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="tank-footer-29-main" id="footer">
			<div class="footer-29 text-center">
				<div class="container">
					<div class="main-social-footer-29">
						<a href="#" class="facebook"><span class="fa fa-facebook"></span></a>
						<a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
						<a href="#" class="instagram"><span class="fa fa-instagram"></span></a>
						<a href="#" class="google-plus"><span class="fa fa-google-plus"></span></a>
						<a href="#" class="linkedin"><span class="fa fa-linkedin"></span></a>
					</div>
					<div class="bottom-copies text-center">
						<p class="copy-footer-29">2022 GuideToPeru <a href="#">- Peru <br>Todos los derechos reservados</a></p>
					</div>

				</div>
			</div>
			<button onclick="topFunction()" id="movetop" title="Go to top">
				<span class="fa fa-angle-up"></span>
			</button>
			<script>
				window.onscroll = function () {
					scrollFunction()
				};

				function scrollFunction() {
					if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
						document.getElementById("movetop").style.display = "block";
					} else {
						document.getElementById("movetop").style.display = "none";
					}
				}

				function topFunction() {
					document.body.scrollTop = 0;
					document.documentElement.scrollTop = 0;
				}
			</script>
		</section>

		<script>
			$(function () {
				$('.navbar-toggler').click(function () {
					$('body').toggleClass('noscroll');
				})

			});
		</script>

		<script src="js/script.js"></script>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>
	</body>
</body>

</html>